/*estilos de cajas y elementos*/
* {
    list-style: none;
}

/*grid*/
main{
    display: grid;
    grid-template-areas: 
    "header"
    "section"
    "footer";
    grid-template-rows: 96px 581px 135px;
}
header{
    grid-area: header;
    background: linear-gradient(180deg, #F7F4E8 79.91%, rgba(255, 255, 255, 0) 102.52%);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 2fr;
}
section{
    grid-area: section;
    background-image: url("/Users/naokiono/Desktop/Ono_&_Co./imagenes/fondo_principal.jpeg");
    background-position: center;
    background-size: cover;
    opacity: 0.7;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}
footer{
    grid-area: footer;
    background: rgba(58, 58, 58, 0.92);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

/* elementos de header*/

.header__logo{
    width: 169px;
    height: 39px;
}
.header__marca{
    justify-self:center;
    text-decoration: none;
    font-family: Marcellus;
    font-style: normal;
    font-weight: normal;
    font-size: 6vw;
    letter-spacing: -0.05em;
    color: #414141;
}
.login{
    padding: 0%;
    margin: 0%;
    font-family: Marcellus;
    font-style: normal;
    font-weight: normal;
    font-size: 2vw;
    color: #000000;
}

/*navegador*/


#listado{
    width: 150px;
    height: 0px;
    font-family: Marcellus;
    font-style: normal;
    font-size: 15px;

}
#listado li{
    display:inline-block;
    line-height:23px;
}

.listado__desplegable{
    font-family: Marcellus;

}
.listado__desplegable:hover{
    font-weight: bold;
    transition-property: all;
    transition-duration: 0.1s;
    transition-timing-function: linear;
}



/*elementos de section*/
.titulo{
    display: inline-block;
    align-self: center;
    justify-self: center;
    font-family: Marcellus;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.25em;
    color: #000000;
}
.flecha{
    align-self: center;
    justify-self: center;
    width: 25px;
    height: 45px;
}


/*footer y sus elementos */


/* Responsive para dispositivo mas grande que un IPhone X */

@media screen and (min-width: 376px) {

    .navegador{
        display: none;
    }
    
}