/*estilos de cajas y elementos*/
* {
    list-style: none;
    color: #000000;
}

/*grid*/
main{
    display: grid;
    grid-template-areas: 
    "header"
    "section"
    "footer";
    grid-template-rows: 96px 581px 135px;

}
header{
    grid-area: header;
    background: linear-gradient(180deg, #F7F4E8 79.91%, rgba(255, 255, 255, 0) 102.52%);
    display: grid;
    grid-template-columns: 52px auto 52px;
    grid-template-rows: 100%;
}
section{
    grid-area: section;
    background-image: url("/Users/naokiono/Desktop/Ono_&_Co./imagenes/fondo_principal.jpeg");
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: 169px auto 87.2667px;
    
}

footer{
    grid-area: footer;
}

/* elementos de header*/

.header__logo{
    width: 169px;
    height: 39px;
}
.header__marca{
    justify-self:center;
    text-decoration: none;
    font-family: Marcellus;
    font-style: normal;
    font-weight: normal;
    font-size: 6vw;
    letter-spacing: -0.05em;
    color: #414141;
}
.login{
    padding: 0%;
    font-family: Marcellus;
    font-style: normal;
    font-weight: normal;
    font-size: 2vw;
    color: #000000;
}
/*navegador*/
.botonburger{
    font-size: 24px;
    color: #6B6B6B;
    position: absolute;
    width: 28px;
    height: 0px;
    left: 13px;
    top: 52px;

}
.fondo__listado{
    position: absolute;
    width: 150px;
    height: 0px;
    left: 13px;
    top: 82px;
    background: rgba(239, 242, 238, 0.98);
    border-radius: 16px;
}
#listado{
    width: 150px;
    height: 0px;
    font-family: Marcellus;
    font-style: normal;
    font-size: 15px;

}
#listado li{
    display:inline-block;
    line-height:23px;
}
#listado li a:hover{
    font-weight: bold;
    transition-property: all;
    transition-duration: 0.1s;
    transition-timing-function: linear;
}
#check{
    display: none;
}
#check:checked ~ .fondo__listado{
    height:130px;
}
#check:checked ~ .listado__desplegable{
    display:none;
}


/*elementos de section*/
.titulo{
    display: inline-block;
    align-self: center;
    justify-self: center;
}
.flecha_izq{
    align-self: center;
}


/*footer y sus elementos */
footer{
    align-self: start;
    width: 390px;
    height: 135px;
    left: 0px;
    top: 709px;
    background: rgba(58, 58, 58, 0.92);
}

/* Responsive para dispositivo mas grande que un IPhone X */

@media screen and (min-width: 376px) {
 .botonburger {
     display:none;
 }  
 #listado{
     position:absolute;
     height:100px;
     width: 500px;
     text-align:center;
 }
 #listado li{
     display: inline;
 }
 #listado li a{
     font-size: 12px;
 }
}