* {
    list-style: none;
}
.estilo{
    font-family: Marcellus;
    font-size: 48px;
    line-height: 480px;
    align-self: center;
    justify-self: center;
    letter-spacing: 0.25em;
    color: #000000;
}
/*grid*/



main{
    display: grid;
    grid-template-areas: 
    "header"
    "section"
    "footer";
    grid-template-rows: 96px 581px 135px;
}
header{
    grid-area: header;
    background: linear-gradient(180deg, #F7F4E8 79.91%, rgba(255, 255, 255, 0) 102.52%);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    position: sticky; top: 0;
}
section{
    grid-area: section;

}
footer{
    grid-area: footer;
    background: rgba(58, 58, 58, 0.92);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.section_contactanos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}



/*HEADER*/



.header__logo{
    width: 169px;
    height: 39px;
}
.header__marca{
    justify-self:center;
    text-decoration: none;
    font-family: Marcellus;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    letter-spacing: -0.05em;
    color: #414141;
    height: 50px;
}
.login{
    padding: 0%;
    margin: 0%;
    font-family: Marcellus;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: #000000;
}
.listado{
    list-style: none;
    font-family: Marcellus;
    font-weight: bold;
    transition-property: all;
    transition-duration: 0.1s;
    transition-timing-function: linear;
}
.nav2{
    display: none;
}

/*SECTION*/

.fondo{
    opacity: 0.65;
    height: 581px;
    object-fit: cover;
}



/*FOOTER*/
.ayuda{
    font-family: Marcellus;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}
.encuentranos{
    font-family: Marcellus;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}
.newsletter{
    display: none;
}

/* Responsive para dispositivo mas grande que un IPhone X */

@media screen and (min-width: 376px) {
header{
    display: grid;
    grid-template-rows: 1fr 1fr;
}
footer{
    grid-template-columns: 1fr 1fr 3fr;
}
.newsletter{
    display: inline-block;
    font-family: Marcellus;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}
.header__marca{

    font-size: 60px;
    letter-spacing: -0.05em;
    color: #414141;
    height: 50px;
}
.login{

    font-size: 20px;
    color: #000000;
}
.login li{
    display: inline-block;
    margin: 5px;
}
.nav2{
    display: inline-block;
}
}